bandplans/bandplan.dtd

<!ELEMENT bandplan (band+)>
	<!ATTLIST bandplan version CDATA #REQUIRED>

<!ELEMENT band (regulation+,region*,channel*,source+)>
	<!ATTLIST band name CDATA #REQUIRED>
	<!ATTLIST band min CDATA #REQUIRED>
	<!ATTLIST band max CDATA #REQUIRED>
	<!ATTLIST band author CDATA #REQUIRED>
	<!ATTLIST band country CDATA #REQUIRED>
	<!ATTLIST band created CDATA #REQUIRED>
	<!ATTLIST band valid CDATA #REQUIRED>
	<!ATTLIST band reviewer CDATA #IMPLIED>

<!ELEMENT regulation (license+,source+)>

<!ELEMENT license (#PCDATA)>
	<!ATTLIST license name CDATA #REQUIRED>
	<!ATTLIST license power CDATA #IMPLIED>

<!ELEMENT source (#PCDATA)>
	<!ATTLIST source name CDATA #REQUIRED>
	<!ATTLIST source href CDATA #REQUIRED>

