bandplans/bandplan.dtd

<!-- Standard 0.7.4 -->

<!ELEMENT bandplan (band+)>
	<!ATTLIST bandplan version CDATA #REQUIRED>

<!ELEMENT band (country,regulation+,region*,channel*,source+)>
	<!ATTLIST band name CDATA #REQUIRED>
	<!ATTLIST band min CDATA #REQUIRED>
	<!ATTLIST band max CDATA #REQUIRED>
	<!ATTLIST band author CDATA #REQUIRED>
	<!ATTLIST band created CDATA #REQUIRED>
	<!ATTLIST band valid CDATA #REQUIRED>
	<!ATTLIST band reviewer CDATA #IMPLIED>

<!ELEMENT country (#PCDATA)>
	<!ATTLIST country name (DE|US) #REQUIRED>
	<!-- Follow the two letter ISO 3166 code (http://en.wikipedia.org/wiki/ISO_3166-1) -->

<!ELEMENT regulation (license+,source+)>

<!ELEMENT license (#PCDATA)>
	<!ATTLIST license name CDATA #REQUIRED>
	<!ATTLIST license power CDATA #IMPLIED>

<!ELEMENT source (#PCDATA)>
	<!ATTLIST source name CDATA #REQUIRED>
	<!ATTLIST source href CDATA #REQUIRED>
	<!ATTLIST source implemented CDATA #IMPLIED>

<!ELEMENT region (regulation*,mode+,comment*,region*)>
	<!ATTLIST region min CDATA #REQUIRED>
	<!ATTLIST region max CDATA #REQUIRED>
	<!ATTLIST region bandwidth CDATA #IMPLIED>

<!ELEMENT channel (mode*,comment*,source*)>
	<!ATTLIST channel name CDATA #REQUIRED>
	<!ATTLIST channel freq CDATA #REQUIRED>
	<!ATTLIST channel bandwidth CDATA #IMPLIED>
	

<!ELEMENT mode (#PCDATA|regulation)*>
	<!ATTLIST mode name (All|AM|FM|NarrowFM|CW|SSB|USB|LSB|NarrowDigital|Digital|MGM|WSPR|SSTV|RTTY|Image|SatelliteDownlink|Narrow|NoSending) #REQUIRED>

<!ELEMENT comment (#PCDATA)>
	
